[submodule "TeaTime"]
	path = TeaTime
url=https://github.com/alvivar/TeaTime.git
[submodule "GhostGrid"]
	path = GhostGrid
url=https://github.com/tzamora/GhostGrid.git
[submodule "Liteprint"]
	path = Liteprint
url=https://github.com/alvivar/Liteprint.git
[submodule "React"]
	path = React
url=https://github.com/alvivar/React.git
