[submodule "TeaTime"]
	path = TeaTime
	url = git@github.com:alvivar/TeaTime.git
[submodule "GhostGrid"]
	path = GhostGrid
	url = git@github.com:alvivar/GhostGrid.git
[submodule "Liteprint"]
	path = Liteprint
	url = git@github.com:alvivar/Liteprint.git
[submodule "React"]
	path = React
	url = git@github.com:alvivar/React.git
